.jumbotron {
    background-color: transparent;
    color: White;
    font-size: 80px;
}

.panel-title {
    background-color: transparent;
    color: white;
}

.panel-body {
    background-color: yellow;
}

.startgame {
    background-color: blueviolet;
}

#time {
    color: green;
  
}

#game {
    color: white;

}

#time {
    color:white;
}

#start {
    background-color: rebeccapurple;
    background-image: url("friendscouch.jpg");
}

#gameBackg {
    background-color: transparent;
    
}

body {
    /* background-color: blue; */
    background: url('https://thumbs.gfycat.com/GlamorousNarrowEasternglasslizard-mobile.mp4');
    background-size: cover;
    
}






